* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: url('images/sunny.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  font-family: sans-serif;
}

.page-header {
  text-align: center;
}

.weather {
  text-align: center;
  color: white;
}

#weather-icon {
  margin-right: 20px;
}

.fa {
  font-size: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.temperature {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.location {
  margin-top: 30px;
  background-color: green;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.label,
.label-default {
  font-size: 30px !important;
  background-color: #fff;
  color: #888;
  opacity: .5;
}

.forecast {
  background-color: red;
  height: 300px;
  margin-top: 30px;
}

.forecast-details {
  display: table;
  width: 80%;
  margin-left: 10%;
}

.forecast-details p {
  background-color: black;
  display: inline-block;
  padding-right: 10px;
}
